<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="WebAppBotGetLink" />
    <add key="MicrosoftAppId" value="d793af3f-1981-4304-87f6-d7479e1105df" />
    <add key="MicrosoftAppPassword" value="iiPLEX289;@$yezcvAPR66|" />
  </appSettings>
</configuration>