<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="GetLinkedBot" />
    <add key="MicrosoftAppId" value="0319dedd-6771-4432-b434-bb3abfbd2808" />
    <add key="MicrosoftAppPassword" value="qwipwMFD360~{jtGIEK06|}" />
  </appSettings>
</configuration>