<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section.
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <appSettings>
    <add key="MicrosoftAppId" value="4b7ccde1-9562-461d-9465-49e03f116243" />
    <add key="MicrosoftAppPassword" value="yivkNBQZA039xhaGU53#|*|" />
  </appSettings>
 
  
</configuration>